<h1 class="title no-select">Lista de Reservaciones</h1>

<div *ngIf="error" class="error-message">
  {{ error }}
</div>

<div class="room-container">
  <ul *ngIf="!error && reservations.length > 0" class="room-list">
    <li class="room-item header">
      <div class="room-info no-select">
        <span class="info-text">Sala</span>
        <span class="info-text">Capacidad</span>
        <span class="info-text">Usuario</span>
        <span class="info-text">Fecha</span>
        <span class="info-text">Hora</span>
        <span class="info-text">Estado</span>
      </div>
      <div class="room-actions no-select">
        <span>Opciones</span>
      </div>
    </li>
    <li *ngFor="let reservation of reservations" class="room-item" [ngClass]="{'inactive': reservation.estado === 'inactivo'}">
      <div class="room-info">
        <span class="info-text">{{ reservation.nombreSala }}</span>
        <span class="info-text no-select">{{ reservation.capacidad }}</span>
        <span class="info-text">{{ reservation.usuario }}</span>
        <span class="info-text no-select">{{ reservation.fechaInicio | date: 'EEE d MMM' }}</span>
        <span class="info-text no-select">{{ reservation.fechaInicio | date: 'hh:mm a' }} - {{ reservation.fechaFin | date: 'hh:mm a' }}</span>
        <span class="info-text status no-select">
          <span
            class="status-dot"
            [ngClass]="{'active': reservation.estado === 'activo', 'inactive': reservation.estado === 'inactivo'}"
          ></span>
          {{ reservation.estado }}
        </span>
      </div>
      <div class="room-actions">
        <button (click)="deleteReservation(reservation._id)" class="btn delete-btn">Borrar</button>
      </div>
    </li>
  </ul>
  <p *ngIf="!error && reservations.length === 0" class="no-rooms">No hay reservaciones disponibles.</p>
</div>
