<h1 class="title">Lista de Salas</h1>

<div *ngIf="error" class="error">
  {{ error }}
</div>

<div>
  
  <ul class="room-list">
    <li class="room-item">
      <div class="room-info">
        <span class="span-info-txt center-txt">Nombre</span>
        <span class="span-info-num center-txt">Capacidad</span>
        <span class="span-info-txt center-txt">Estado</span>
      </div>
      <div class="room-actions center-txt">
        <span class="span-info-txt center-txt">Opciones</span>
      </div>
    </li>
  </ul>
  <ul *ngIf="!error && rooms.length > 0" class="room-list">
    <li *ngFor="let room of rooms" class="room-item">
      <div class="room-info">
        <span class="span-info-txt">{{ room.nombre }}</span>
        <span class="span-info-num">{{ room.capacidad }}</span>
        <span class="span-info-txt center-txt">{{ room.estado }}</span>
      </div>
      <div class="room-actions center-txt">
        <button (click)="editRoom(room._id)" class="btn edit-btn">Editar</button>
        <button (click)="deleteRoom(room._id)" class="btn delete-btn">Borrar</button>
      </div>
    </li>
  </ul>
</div>
<p *ngIf="!error && rooms.length === 0" class="no-rooms">No hay salas disponibles.</p>
