.room-container {
  padding: 20px;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

.error {
  color: #f44336;
  font-size: 1rem;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 500;
}

.add-button {
  text-align: center;
  margin-bottom: 20px;
}

.add-button button {
  background-color: rgb(145, 116, 2);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  transition: background-color 0.3s ease;
}

.add-button button:hover {
  background-color: rgb(110, 89, 2);
}

.room-list {
  list-style-type: none;
  padding: 0;
  margin: 20px;
  font-family: 'Roboto', sans-serif;
}

.room-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.room-item ::selection {
  background-color: rgb(145, 116, 2);
  color: #ffffff;
}

.room-item:hover {
  background-color: #f1f1f1;
}

.room-item.header {
  font-weight: bold;
  color: #333;
  background-color: #f1f1f1;
  margin: 0%;
  padding: 5px;
}

.room-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.span-info-txt, .span-info-num {
  flex: 1;
  text-align: center;
  font-size: 1rem;
  color: #555;
}

.room-actions {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex: 0 0 150px;
}

.room-actions button {
  background-color: rgb(145, 116, 2);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  user-select: none;
  transition: background-color 0.3s ease;
}

.room-actions button:hover {
  background-color: rgb(107, 86, 2);
}

.room-actions button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.no-rooms {
  color: #777;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 30px;
}

.inactive {
  background-color: #f8d7da;
  color: #721c24;
}

.no-select {
  user-select: none;
}

.room-info-ti {
  font-weight: bold;
  background-color: #f1f1f1;
  border-radius: 6px;
  padding: 10px;
}

.room-info-ti span{
  padding-left: 10px;
}

.room-actions .span-info-txt {
  text-align: center;
  color: #555;
}

.span-info-numn{
  width: 58px;
  text-align: center;
  color: #555;
}

.span-ti-info{
  width: 60px;
  text-align: center;
  color: #555;
}

.disponible{
  background-color: #d4edda;
}

.ocupada{
  background-color: #f8d7da;
}

.mantenimiento{
  background-color: #fff3cd;
}