<div class="reservation-container">
  <button class="back-btn" (click)="returnToRoomList()">Regresar</button>

  <h2>Sala: {{ room?.nombre }}</h2>

  <app-reservation-form 
    [roomId]="roomId" 
    (submitReservation)="handleSubmitReservation($event)">
  </app-reservation-form>

  <h3>Reservas existentes</h3>
  <ul class="reservation-list">
    <li *ngFor="let reservation of reservations" class="reservation-item">
      📅 {{ reservation.fechaInicio | date:'d MMM' }} . {{ reservation.fechaInicio | date:'h:mm a' }} - {{ reservation.fechaFin | date:'h:mm a' }}
    </li>
  </ul>
</div>